header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 0 20px;
}

.logo img {
    width: 150px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    font-family: Blinker, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #626361;
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s;
    margin-top: 10px;
}

nav a:hover {
    color: #00ABFF;
}

body {
    background-image: url('/02/imgs/fundo onda.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slogan {
    position: absolute;
    top: 18px;
    right: 20px;
    width: 300px;
}

.Cadastro-container {
    position: absolute;
    top: 150px;
    right: 20px;
    text-align: center;
    max-width: 90%;
}

h1 {
    font-family: Inria Sans, sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

input {
    width: 90%;
    padding: 10px;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.button-group {
    margin-top: 18px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

#button02 {
    width: 100px;
    height: 40px;
    background-color: #00ABFF;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

#button {
    width: 100px;
    height: 40px;
    background-color: #ffff;
    color: #626361;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

#button02:hover {
    background-color: #005f99;
}

@media (min-width: 768px) {
    header {
        padding: 0 40px;
    }

    .logo img {
        width: 200px;
    }

    nav ul {
        gap: 40px;
    }

    nav a {
        font-size: 18px;
    }

    .slogan {
        top: 20px;
        right: 50px;
        width: 400px;
    }

    .Cadastro-container {
        top: 200px;
        right: 50px;
        max-width: 400px;
    }

    h1 {
        font-size: 46px;
    }

    input {
        width: 80%;
        font-size: 16px;
    }

    .button-group {
        gap: 20px;
    }

    #button02,
    #button {
        width: 120px;
        height: 47px;
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    header {
        padding: 0 60px;
    }

    .logo img {
        width: 250px;
    }

    nav ul {
        gap: 60px;
    }

    nav a {
        font-size: 18.95px;
    }

    .slogan {
        top: 20px;
        left: 50px;
        width: 600px;
        right: auto;
    }

    .Cadastro-container {
        top: 250px;
        right: 100px;
        left: auto;
        max-width: 400px;
    }

    h1 {
        font-size: 60px;
    }

    input {
        width: 70%;
        font-size: 16px;
    }

    .button-group {
        gap: 30px;
    }

    #button02,
    #button {
        width: 150px;
        height: 55px;
        font-size: 18px;
    }

}
